*,
*::before,
*::after {
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

/*--- HEADER ---*/
#header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px 0;
    font-size: clamp(28px, 6vw, 50px);
    font-weight: 900;
    background-color: #051014; 
    width: 100%;
}

.header-rock,
.header-paper {
    color: #20B2AA;
    padding-right: 15px;
}

.header-scissors {
    color: #20B2AA;
}

/*--- CONTENT ---*/
#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    background-color: #091d24;
    color: white;
    padding-bottom: 30px;
    flex: 1 1 auto;
}

.game-container-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    gap: 15px;
}

.win-game{
    font-size: 30px;
    font-weight: 700;
}

.state-round-results{
    font-size: 24px;
    font-weight: 500;
    margin-top: 10px;
}

.round-results {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: clamp(100px, 5vw, 150px);
    margin-top: 30px;
}

.player-info,
.computer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-choice ,
.computer-choice {
    font-size: 80px;
}

.player-info > p,
.computer-info > p {
    font-size: 24px;
}

.game-record {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 24px;
}

.player-choices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 45px;
    margin-top: 30px;
}

.player-choices button {
    cursor: pointer;
    font-size: 100px;
    padding: clamp(10px, 2vw, 20px) clamp(20px, 3vw, 30px);
    border-radius: 10px;
    background-color: #0f2c37;
    border: none;
}

.player-choices button:hover {
    background-color: #1a4a5d;
}

.play-again {
    display: none;
    background-color: #20B2AA;
    color: #0f2c37;
    border: none;
    font-size: 30px;
    font-weight: 700;
    padding: 20px 30px;
    border-radius: 10px;
}

.play-again:hover {
    cursor: pointer;
    background-color: #28d8d0;
}

/*--- FOOTER ---*/
#footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    background-color: #091d24;
    font-size: 20px;
    width: 100%;
    padding: 20px;
}